<% include header.ejs %>
<div class="banner clearfix ">
	<div class="center-block tc">
		<div class="form-group form-inline center">
		    <input type="text" class="form-control search-text" id="text" placeholder="美剧名">
		    <input type="button" class="btn btn btn-primary" id="btn" value="确定">
		  </div>
		<div class="form-group form-inline">
			<label class="radio-inline">
			  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="HR-HDTV" checked="checked">HR-HDTV
			</label>
			<label class="radio-inline">
			  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="720P"> 720P
			</label>
			<label class="radio-inline">
			  <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="1080P"> 1080P
			</label>
			<label class="radio-inline">
			  <input type="radio" name="inlineRadioOptions" id="inlineRadio4" value="BD-1080P"> BD-1080P
			</label>
			<label class="radio-inline">
			  <input type="radio" name="inlineRadioOptions" id="inlineRadio5" value="BD-720P"> BD-720P
			</label>
			<label class="radio-inline">
			  <input type="radio" name="inlineRadioOptions" id="inlineRadio6" value="MP4"> MP4
			</label>
		</div>
	</div>
</div>
<div class="loading-box"><div class="loading"></div></div>
<div class="box container">
</div>
<script>
	getHtml();
	function getHtml () {
		var status = true;
		$('#btn').on('click',function(){
			var oText = $('#text');
			var iRadio;
			var oRadio = $('[name="inlineRadioOptions"]');

			$('.loading-box').show(300);
			if(!status) return;
			status = false;
			$('.box').animate({
				top:'100%'
			}, 400,function(){
				$(this).hide();
			});

			if(oText.val()===''){
				alert('请填写页面ID');
				return;
			}
			oRadio.each(function(index, el) {
				if($(this).is(':checked')){
					iRadio = $(this).val();
				}
			});

			$.ajax({
				url:'/zy',
				type:'get',
				data:{
					'name':oText.val(),
					'geshi':iRadio
				},
				success:function(data){
					var sHtml = '';
					var sTitle,
						sLink,
						sSeason;
					status = true;
					$('.loading-box').hide(300);
					for(var i=0;i<data.length;i++){
						sTitle = '';
						sLink = '';
						sTitle = '<h4 class="resous-list-title">'+data[i].title+'</h4>';
						if(data[i].season=='103'){
							sSeason = '<span>周边</span>';
						}else{
							sSeason = '<span>第'+data[i].season+'季</span>';
						}
						for(var j=0;j<data[i].links.length;j++){
							sLink+='<a href="'+data[i].links[j].link_url+'" class="resous-list-urls btn btn btn-primary">'+data[i].links[j].link_name+'</a>';
						}
						sHtml+='<li class="resous-list">'+sTitle+sSeason+'<div class="link-list">'+sLink+'</div></li>';
					}
					$('.box').html('<ul class="list-unstyled">'+sHtml+'</ul>');
					$('.box').show().animate({
						top:'70%'
					}, 400);
					
				},
				error:function(){
					status = true;
					console.log('Error');
					$('.loading-box').hide(300);
				}
			});
		});
	}

	function clickFun(){
		$('.box a').each(function  () {
			$(this).on('click',function(){
				alert($(this).attr('href'));
				return false;
			});
		});
	}
</script>
<% include footer.ejs %>