<% include header.ejs %>
<div class="banner clearfix ">
	<div class="container">
		<div class="form-group clearfix">
			<div class="col-md-offset-2 col-sm-offset-1 col-md-7 col-sm-8 col-xs-12">
			    <input type="text" class="form-control search-text" id="text" placeholder="美剧名">
		    </div>
		    <div class="visible-xs col-md-12 col-xs-12" id="selectList">
		    	<select class="form-control" value="">
		    	  <option value="HR-HDTV">HR-HDTV</option>
		    	  <option value="720P">720P</option>
		    	  <option value="1080P">1080P</option>
		    	  <option value="BD-1080P">BD-1080P</option>
		    	  <option value="BD-720P">BD-720P</option>
		    	  <option value="MP4">MP4</option>
		    	</select>
		    </div>
		    <div class="col-md-1 col-sm-2 col-xs-12 btn-submit">
		    	<input type="button" class="btn btn-primary btn-block" id="btn" value="确定">
		    </div>
		  </div>
		<div class="form-group form-inline hidden-xs tc" id="radioList">
			<label class="radio-inline">
			  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="HR-HDTV" checked="checked">HR-HDTV
			</label>
			<label class="radio-inline">
			  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="720P"> 720P
			</label>
			<label class="radio-inline">
			  <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="1080P"> 1080P
			</label>
			<label class="radio-inline">
			  <input type="radio" name="inlineRadioOptions" id="inlineRadio4" value="BD-1080P"> BD-1080P
			</label>
			<label class="radio-inline">
			  <input type="radio" name="inlineRadioOptions" id="inlineRadio5" value="BD-720P"> BD-720P
			</label>
			<label class="radio-inline">
			  <input type="radio" name="inlineRadioOptions" id="inlineRadio6" value="MP4"> MP4
			</label>
		</div>
	</div>
</div>
<div class="pop-msg">
	<div class="x"></div>
	<div class="text"></div>
</div>
<div class="loading-box"><div class="loading"></div></div>
<div class="box container">
</div>
<script>
	var status = true;
	$('#btn').on('click',function(){
		var oText = $('#text');
		var iRadio;
		var oRadio = $('[name="inlineRadioOptions"]');

		if(!status) return;
		status = false;
		$('.box').animate({
			top:'100%'
		}, 400,function(){
			$(this).hide();
		});

		if(oText.val()===''){
			alert('请填写美剧名');
			return false;
		}
		$('.loading-box').show(300);
		if($('#radioList').css('display')=='none'){
			iRadio = $('#selectList select').val();
		}else{
			oRadio.each(function(index, el) {
				if($(this).is(':checked')){
					iRadio = $(this).val();
				}
			});
		}
		$.ajax({
			url:'/zy',
			type:'get',
			data:{
				'name':oText.val(),
				'geshi':iRadio
			},
			success:function(data){
				var sHtml = '';
				var sTitle,
					sLink,
					sSeason;
				status = true;
				$('.loading-box').hide(300);
				for(var i=0;i<data.length;i++){
					sTitle = '';
					sLink = '';
					sTitle = '<h4 class="resous-list-title">'+data[i].title+'</h4>';
					if(data[i].season=='103'){
						sSeason = '<span>周边</span>';
					}else{
						sSeason = '<span>第'+data[i].season+'季</span>';
					}
					for(var j=0;j<data[i].links.length;j++){
						sLink+='<a href="'+data[i].links[j].link_url+'" class="resous-list-urls btn btn btn-primary">'+data[i].links[j].link_name+'</a>';
					}
					sHtml+='<li class="resous-list">'+sTitle+sSeason+'<div class="link-list">'+sLink+'</div></li>';
				}
				$('.box').html('<ul class="list-unstyled">'+sHtml+'</ul>');
				$('.box').show().animate({
					top:'70%'
				}, 400);
				$('a').on('click',function(){
					showMsg($(this).attr('href'));
					return false;
				});
			},
			error:function(){
				status = true;
				console.log('Error');
				$('.loading-box').hide(300);
			}
		});
	});

	function showMsg (msg) {
		var oPop = $('.pop-msg');
		oPop.find('.text').html(msg);
		oPop.addClass('pop-anima');
		return false;
	}
	$('.x').on('click',function(){
		$('.pop-msg').removeClass('pop-anima');
	});
</script>
<% include footer.ejs %>