/*.search-text{width: 500px;}*/
body,html{background: #F5F5F5;/* width: 100%; *//* height: 100%; */}
.tc{text-align: center;}
.banner{height: 100%;background-image: url(../images/bg.jpg);background-repeat: no-repeat;background-size: cover;background-position: 50% 0;position: absolute;width: 100%;height: 100%;}
/*.banner .form-inline .search-text{width: 550px;}*/
.banner>div{margin-top: 18%;}

.box{position: absolute;z-index: 9;top: 100%;left: 0;right: 0;display: none;}
.box .list-unstyled li{background: #fff;padding: 10px 20px 20px;margin-top: 20px;box-shadow: 1px 1px 3px #BFBFBF;position: relative;}
.box .list-unstyled li span{position: absolute;padding: 4px 10px; background: #DEDEDE;top: 0;right: 0;}
.list-unstyled .link-list a{margin-left: 5px;margin-top: 5px;}
.list-unstyled .link-list a:first-of-type{margin-left: 0;}

/* 小屏幕（平板，大于等于 768px） */
@media (max-width: 767px) {
	.btn-submit{margin-top: 15px;}
	.banner>div{margin-top: 30%;}
}

/* 中等屏幕（桌面显示器，大于等于 992px） */
/*@media (min-width: @screen-md-min) { ... }*/

/* 大屏幕（大桌面显示器，大于等于 1200px） */
/*@media (min-width: @screen-lg-min) { ... }*/

#selectList{margin-top: 10px;}
.resous-list h4{word-break: break-all;}
.pop-msg{position: fixed;width: 80%;left: 10%;top: -100%;color: #fff;z-index: 9999;background:rgba(0,0,0,.5);padding: 15px; box-sizing:border-box;-webkit-box-sizing:border-box;font-size: 16px;-webkit-transition: all .3s ease-in-out;-ms-transition: all .3s ease-in-out;-o-transition: all .3s ease-in-out;transition: all .3s ease-in-out;}
.pop-msg .x{width: 20px;height: 20px;position: absolute;right: -20px;top: -20px;cursor: pointer;background: #fff;}
.pop-msg .x:after{width: 16px;height: 1px;position: absolute;background: #000;visibility: visible;content: '';-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg);left: 2px;top: 10px;}
.pop-msg .x:before{width: 16px;height: 1px;position: absolute;background: #000;visibility: visible;content: '';-webkit-transform: rotate(-45deg);-ms-transform: rotate(-45deg);-o-transform: rotate(-45deg);transform: rotate(-45deg);left: 2px;top: 10px;}
.pop-msg .text{word-break: break-all;}
.pop-anima{top: 10%;}


.loading-box{width: 40px;height: 30px;top: 50%;left: 50%;margin-left: -15px;z-index: 99;position: absolute;display: none;}
.loading{width: 4px;height: 100%;background: #000000;position: absolute;left: 50%;margin-left: -2px;}
.loading:after{content: "";visibility: visible;width: 4px;height: 100%;background: #000000;right: -10px;display: block;position: absolute;}
.loading:before{content: "";visibility: visible;width: 4px;height: 100%;background: #000000;left: -10px;display: block;position: absolute;}

.loading:before{-webkit-animation: loading .6s alternate infinite ease-in-out;-o-animation: loading .6s alternate infinite ease-in-out;animation: loading .6s alternate infinite ease-in-out;}
.loading{-webkit-animation: loading .6s .3s alternate infinite ease-in-out;-o-animation: loading .6s .3s alternate infinite ease-in-out;animation: loading .6s .3s alternate infinite ease-in-out;}
.loading:after{-webkit-animation: loading .6s .6s alternate infinite ease-in-out;-o-animation: loading .6s .6s alternate infinite ease-in-out;animation: loading ease .6s .6s alternate infinite ease-in-out;}

@-webkit-keyframes loading{
	from{transform: scaleY(.3)}
	to{transform: scaleY(1)}
}
@-moz-keyframes loading{
	from{transform: scaleY(.3)}
	to{transform: scaleY(1)}
}
@keyframes loading{
	from{transform: scaleY(.3)}
	to{transform: scaleY(1)}
}